* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mario-font";
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid rgb(35, 160, 35);
  background: linear-gradient(#87ceeb, #e0f6ff);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.clouds {
  position: absolute;
  width: 350px;
  animation: clouds-animation 20s linear infinite;
}

.score {
  position: absolute;
  z-index: 1;
  font-size: 3rem;
  color: red;
  right: 2%;
  top: 2%;
  font-weight: bold;
}

.gameOver-Display {
  position: absolute;
  width: 600px;
  height: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  
}

.gameOver-Display h1 {
  font-size: 3rem;
}

.reset{
  cursor: pointer;
}

@font-face {
  font-family: "mario-font";
  src: url("../assets/fonts/SuperMario256.ttf") format("truetype");
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -350px;
  }

  to {
    right: 100%;
  }
}


@media (max-width: 425px){
  .pipe {
    width: 50px;
    animation: pipe-animation 1.5s infinite linear;
  }
  
  .mario {
    width: 100px;
    position: absolute;
    bottom: 0;
  }
}